p {
  margin: 4px;
}

.unread {
  font-weight: bold;
}

.message {
  border: 0px solid #b3b3b3;
  border-width: 1px;
  background-color: #fcfcfc;
  padding: 6px;
}

.selected {
  background-color: #b3ccff;
}

#message-actions {
  margin-bottom: 7px;
}

.message-list {
  box-sizing: border-box;
  width: 400px;
  background-color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #b3b3b3;
  margin: 0;
}

.message-subject {
  padding-left: 5px;
}

#unread-messages {
  text-align: right;
  margin: 10px;
}